<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Connexion</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Adresse e-mail</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Votre adresse e-mail" required>
                <div *ngIf="loginForm.get('email')??.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger">
                  <div *ngIf="loginForm.get('email')??.errors?.['required']">L'adresse e-mail est requise.</div>
                  <div *ngIf="loginForm.get('email')??.errors?.['email']">L'adresse e-mail n'est pas valide.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Votre mot de passe" required>
                <div *ngIf="loginForm.get('password')??.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
                  <div *ngIf="loginForm.get('password')??.errors?.['required']">Le mot de passe est requis.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Se connecter</button>
              <div class="mt-3">
                <a routerLink="/register">S'inscrire</a>
              </div>
            </form>
            <div class="mt-3">
              <button type="button" class="btn btn-danger" (click)="signInWithGoogle()">Se connecter avec Gmail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->





<div class="header bg-gradient-danger pt-2 " style="padding-bottom: 20rem;">
  <div class="container">
    <div class="header-body text-center mb-2">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container pb-5" style="margin-top: -50vh !important;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        
        <div class="card-body pb-0 px-lg-5 pt-lg-5 ">
          <div class="text-center text-muted mb-4">
            <small>Sign in with credentials</small>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" formControlName="email" placeholder="Email" type="email">
              </div>
              <div
                *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
                class="alert text-danger px-0 my-0 pb-0">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">
                  Email is invalid.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" formControlName="password" placeholder="Password" type="password">
              </div>
              <div
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                class="alert text-danger px-0 my-0 pb-0">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                  Password must be at least 6 characters long.
                </div>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id="customCheckLogin" type="checkbox">
              <label class="custom-control-label" for="customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary my-4">Sign in</button>
            </div>
          </form>
        </div>
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Or sign in with</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a routerLink="/resetpassword" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a routerLink="/register" class="text-light"><small>Create new account</small></a>
        </div>
      </div>
    </div>
  </div>
</div>