<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card shadow mb-4 div-illu">

                <div class="card-body" style="display: flex;">
                    <div>
                        <h2>When nothing goes right, go left.</h2>
                        <p class="text-sm text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
                            sapiente dolores ab vero.
                        </p>
                        <button class="btn btn-explore">
                            <a target="_blank" routerLink="/explore">Explore</a>
                        </button>
                    </div>
                    <div style="width:80%">
                        <img src="../assets/img/theme/user-illus-2.png" alt="" style="max-width: 100%;">
                    </div>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-header border-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h3 class="mb-0">Mes cours</h3>
                    </div>
                    <div class="col text-right">
                      <a routerLink="cours" class="btn btn-sm btn-primary">View all</a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <!-- Projects table -->
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Cours</th>
                        <th scope="col">Presents</th>
                        <th scope="col">Absents</th>
                        <th scope="col">Bounce rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          Math : les fonctions
                        </th>
                        <td>
                          4,569
                        </td>
                        <td>
                          340
                        </td>
                        <td>
                          <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          /argon/index.html
                        </th>
                        <td>
                          3,985
                        </td>
                        <td>
                          319
                        </td>
                        <td>
                          <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          /argon/charts.html
                        </th>
                        <td>
                          3,513
                        </td>
                        <td>
                          294
                        </td>
                        <td>
                          <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          /argon/tables.html
                        </th>
                        <td>
                          2,050
                        </td>
                        <td>
                          147
                        </td>
                        <td>
                          <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          /argon/profile.html
                        </th>
                        <td>
                          1,795
                        </td>
                        <td>
                          190
                        </td>
                        <td>
                          <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

        </div>
        <div class="col-xl-4" style="padding: 0;">
            <div class="card shadow mb-4">
                <div class="card-header bg-transparent">
                    Daily tasks
                </div>
                <div class="card-body" style="padding:0 !important;">

                    <ejs-schedule style="border:none !important;" class="e-schedule e-month-agenda-view e-work-days"
                        [selectedDate]='selectedDate' [eventSettings]='eventSettings'>
                        <e-views>
                            <e-view option='Agenda' [allowVirtualScrolling]="allowVirtualScroll">
                            </e-view>
                        </e-views>
                    </ejs-schedule>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header bg-transparent">
                    Agenda
                </div>
                <div class="card-body" style="padding:0 !important;">

                    <ejs-schedule startHour='09:00' endHour='18:00' height="400px" [selectedDate]="selectedDate"
                        [eventSettings]="eventSettings">
                        <e-views>
                            <e-view option='Day'></e-view>
                        </e-views>
                    </ejs-schedule>

                </div>
            </div>


        </div>
    </div>
</div>