<div class="header bg-gradient-danger pt-5" style="padding-bottom: 20rem">
    <div class="container">
        <div class="header-body text-center mb-2">
            <div class="row justify-content-center">

                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Confirmation de l'adresse e-mail !</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container pb-5" style="margin-top: -45vh !important">
    <!-- Table -->

    <div class="row justify-content-center">
        <div id="hahiya" class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Un email sera envoyé à votre adresse pour réinitialiser votre mot de passe.</small>
                    </div>
                    <form [formGroup]="resetForm" (ngSubmit)="onConfirm()">
                        <div class="form-group" >
                            <label for="confirmationCode">Réinitialiser le mot de passe </label>
                            <input class="form-control" formControlName="email" placeholder="Email" type="email">

                        </div>
                        <div *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)"
                            class="alert text-danger px-0 mb-3 pb-0 pt-0">
                            <div *ngIf="resetForm.get('email')?.errors?.['required']">
                                Email is required.
                            </div>
                            <div *ngIf="resetForm.get('email')?.errors?.['email']">
                                Email is invalid.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>