<app-sidebar></app-sidebar>
<div class="main-content">
    <app-navbar></app-navbar>
    <!-- <router-outlet></router-outlet> -->
    <section class="container-fluid" style="padding-top: 40px;">

        <div class="profs-cards">
            <!-- Boucle pour afficher les groups -->
            <div class="card profs-card shadow">
                <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" >
                <div class="card-body bg-transparent" style="display: flex;padding-bottom: 70px;">
                    <div class="profs-baniere" style="max-width: 30%;">
                        <img src="{{prof.imageUrl}}" alt="Image de la matière" style="max-width: 100%;">
                        <!-- <img src="assets/images/{{groups.matiere}}.jpg" alt="Image de la matière"> -->
                        <div class="new-card-badge-area">
                            <div class="new-card-badge-inner">
                                <div class="card-badge">{{prof.module}}</div>
                                <div class="card-badge tag-badge">{{prof.niveau}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="prof-details" style="margin-left:5%;width: 35%;">
                        <div class="profs-info ">
                            <h2 style="margin-bottom: 0;">{{prof.prenom}} {{prof.nom}}</h2>
                            <div style="display: flex;justify-content: space-between;" class="mt-4">
                                <h5><i class="fa-regular fa-file-video" style="color:#9481f5;"></i>
                                    {{getTotalNumberOfCourses(prof)}} cours</h5>
                                <h5 style="margin-right: 15px;"> <i class="fa-solid fa-users" style="color:#9481f5"></i>
                                    {{getTotalNumberOfStudents(prof)}} etudiants</h5>
                            </div>
                            <div class="mt-1" style="display: flex;justify-content: space-between;">
                                <h5><i class="fa-solid fa-location-dot" style="color:#9481f5"></i> {{prof.ville}}</h5>
                                <h5><i class="fa-solid fa-building-columns" style="color:#9481f5"></i>
                                    {{prof.etablissement}}
                                </h5>
                            </div>
                        </div>
                        <form [formGroup]="groupForm" class="mt-3" style="display: flex; align-items: center;">
                            <h3 style="margin-right: 20px;">Groupe:</h3>
                            <select class="form-control" formControlName="groupId" (change)="onGroupSelectionChange()">
                                <option value="">Select your option </option>
                                <option *ngFor="let group of prof.groups" [value]="group._id">{{group.nom}}</option>
                            </select>
                        </form>
                        <!-- <div class="mt-3" style="display: flex; align-items: center;">
                            <h3 style="margin-right: 20px;">Groupe:</h3>
                            <select class="form-control" formControlName="groupId" (change)="onGroupSelectionChange()">
                                <option value="">Select your option </option>
                                <option *ngFor="let group of prof.groups" [value]="group._id">{{group.nom}}</option>
                            </select>
                        </div> -->
                    </div>
                    <div class="prof-details" style="margin-left:5%;width: 45%;">

                        <div class="profs-info ">
                            <h3>informations du groupe:</h3>
                            <div *ngIf="selectedGroup">
                                <p>Nombre d'étudiants max : {{selectedGroup.nbEtudiants}}</p>
                                <p>Prix par séance : {{selectedGroup.pricePerLecture}} DA</p>
                                <p>Jour/Heure: {{selectedGroup.time}}</p>
                                <p>{{selectedGroup.description}}</p>
                                <!-- Afficher d'autres informations du groupe si nécessaire -->
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-rejoins">Rejoigner</button>
            </form>
            <div *ngIf="reponsegroupe" class="alert alert-success" style="width: 40%;MARGIN: auto;TEXT-ALIGN: center;margin-bottom: 20px;">{{ reponsegroupe }}</div>
            <div *ngIf="reponsegrouperefus" class="alert alert-danger" style="width: 40%;MARGIN: auto;TEXT-ALIGN: center;margin-bottom: 20px;">{{ reponsegrouperefus }}</div>

            </div>
        </div>
    </section>

    <div class="container-fluid">
        <app-footer></app-footer>
    </div>
</div>