<div class="cours-container mt-3">
    <div class="dropdown mb-4">
        <button class="btn dropdown-toggle " type="button" id="matiereDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Status <i class="fa-solid fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="matiereDropdown">
          <li [class]="selectedStatus === status ? 'active' : ''" *ngFor="let status of lesStatus">
            <a class="dropdown-item" (click)="selectdemandeStatus(status)">{{status}}</a>
          </li>
        </ul>
      </div>
    <div *ngIf="DemandeList.length!=0" class="cours-cards col-10">
        <!-- Boucle pour afficher les cours -->
        <div class="card cours-card shadow mb-4" *ngFor="let demande of DemandeList">
            <div class="card-body bg-transparent" style=" display: flex; justify-content: space-between; align-items: center; ">

                <div class="cours-info mt-2" style=" display: flex; justify-content: space-evenly; align-items: center; ">
                    <h3>Groupe: {{demande.child.group.nom}}</h3>
                    <p class="text-sm text-muted">{{demande.extraInfo.nom}}</p>
                </div>
                <div *ngIf="demande.child.status !=  'accepted' ">
                    <button type="button" class="btn btn-danger" (click)="refuser(demande.child._id)">Refuser</button>
                    <button type="button" class="btn btn-success" (click)="accepter(demande.child._id)">Accepter</button>
                </div>
                <div *ngIf="demande.child.status =='accepted' ">
                    <span  class="text text-success">Acceptée</span>
                </div>

            </div>

        </div>
    </div>

</div>

<div *ngIf="DemandeList.length==0" class="cours-container mt-7" style="justify-content: center;height: 40vh;">
    <span> Aucune demande touvée</span>
</div>